@charset "utf-8";
@font-face {
    font-family:'bassy' ;
    src: url(bassy/Bassy.ttf) format('truetype');
}
@font-face {
    font-family: ;
    src: url();
}
*{
 margin: 0;
}
body{
    background-color: black;
}
header{
}
header> div#titulo{
    background-color: black;
}
header> div#titulo> h1{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
}
header> div#titulo>  p{
    font-style: italic;
    color: white;
    padding-left: 50px;
    padding-bottom: 10px;
    text-align: center;
}
header> div#titulo> nav> a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
main{
    margin: auto;
    max-width: 900px;
    background-color: white;
}
section#Projetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    padding: 20px;
    gap: 15px;
    margin: auto;
    text-align: center;
}
section#Projetos> div#Probióticos{
    background-color: #14AEF8;
    padding: 20px;
    grid-column: 1;
    grid-row: 1/3;
}
h4{
    padding-top:10px ;
}
p{
    padding-top: 10px;
    text-align: justify;
}
section#Projetos> div#Probióticos> img{
    padding-top: 30px;
}
section#Projetos> div#Vacinas{
    background-color: #14F845;
    padding: 20px;
}
section#Projetos> div#Vacinas> video{
    margin-top: 20px;
}
section#Projetos> div#Lavagemdasmãos{
    background-color: #11D975;
    padding: 20px;
}
section#Projetos> div#Lavagemdasmãos> video{
        margin-top: 20px;
}
section#Projetos> div#Síndrome{
    background-color: #11CCD9;
    padding: 20px;
}
section#Projetos> div#Antibióticos{
    background-color: #20F0C2;
    padding: 20px 20px 20px 20px;

}
section#Projetos> div#Antibióticos> video{
    margin-top: 20px;
}
@media (max-width:650px) {
    header> div#titulo> h1{
        color: white;
        text-align: left;
        padding-top: 30px;
        padding-left: 50px;
        padding-bottom: 20px;
    }
    header> div#titulo>  p{
        font-style: italic;
        color: white;
        padding-left: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    section#Projetos{
        grid-template-columns: repeat(2,1fr);
    }
    section#Projetos> div#Probióticos{
        grid-column: auto;
        grid-row: auto;
    }
    img{
        height: 100px;
        width: 100px;
        transform:rotate(90deg);
        margin-left:22px ;
    }
}
footer{
    background-color: black;
    color:white;
    text-align: center;
}
footer> h2{
    padding: 10px 10px 5px 10px;
}
footer> p{
    padding-bottom: 10px;
    text-align: center;    
    font-style: italic;
}
footer> nav{
    text-decoration: none;
    padding-bottom: 20px;
}
a{
    color: white;
}